//misc settings
@import 'config/_settings';
@import 'config/_mixins';

//frameworks

//global things
@import 'general/_reset';
@import 'layout/_main';

//pages

body {
	font-family: 'IBM Plex Serif', serif;
}

.parent {
	height: 100vh;
	background-color: #ffe;
	padding: 30px;
}

.photo-container {
	height: 35vh;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	& img {
		width: 100%;
	}
}

.status {
	display: block;
	.person {
		width: 35%;
		display: inline-block;
		margin: 0 20px 20px 0;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		img {
			height: 16vh;
		}
		.status-color {
		    display: block;
		    width: 30px;
		    height: 100%;
		    background-color: blue;
		    position: absolute;
		}
	}
}

.clndr {

	font-family: 'IBM Plex Serif', serif;

	.clndr-controls {
		display: none;
	}
}























