//misc settings
@import 'config/_settings';
@import 'config/_mixins';

//frameworks

//global things
@import 'general/_reset';
@import 'layout/_main';

//pages

body {
	font-family: 'IBM Plex Serif', serif;
}

.parent {
	height: 100vh;
	background-color: #ffe;
	padding: 30px;
}

.photo-container {
	height: 35vh;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	& img {
		width: 100%;
	}
}

.status {
	display: block;
	.person {
		width: 45%;
		height: 128px;
		display: inline-block;
		margin: 0 20px 20px 0;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		background-color: teal;
		background-size: cover;
		.status-color {
		    display: block;
		    width: 30px;
		    height: 100%;
		    background-color: red;
		    position: absolute;
		}
	}
}

.clndr {

	font-family: 'IBM Plex Serif', serif;

	.clndr-controls {
		display: none;
	}
}

.right-panel {
	.date {
		font-size: 40px;
		font-weight: bold;
		position: relative;
		bottom: 12px;
	}
	.weather {
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
	}
	#icons {
	    width: 30px;
	    height: 30px;
	    display: inline-block;
	    background-position: center;
	    background-size: 100%;
	    background-repeat: no-repeat;
	    position: relative;
	    top: 8px;

	}
}

.clndr-table {
	thead, tbody, tbody > tr {
		background: none !important;
	}
	tbody td > div {
		border: 3px solid black;
		border-radius: 10px;
		padding: 5px;
		font-family: 'Open Sans', serif;
		font-size: 29px;
		font-weight: bold;
	}
}























